.geco-add-contacts-excel-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geco-add-contacts-excel-head-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.geco-add-contacts-excel-nav-bar {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 4vw;
  margin-top: 2vh;
}

.geco-add-contacts-excel-nav-bar-right {
  display: flex;
  align-items: center;
  margin-right: 4vw;
  margin-top: 2vh;
}

.geco-add-contacts-excel-nav-bar-logo img {
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 50%;
  margin-right: 1vw;
  width: 48px;
  height: 48px;
}

.geco-add-contacts-excel-header-title {
  min-width: 325px;
  max-width: 325px;
  margin-bottom: 2vh;
}

.geco-add-contacts-excel-header-title .geco-section-subtitle {
  margin-bottom: 0;
}

.geco-add-contacts-excel-header-title a {
  margin-top: 0;
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #474a57;
  text-decoration: underline;
}

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  overflow: hidden;
  border: 2px dotted 18191f;
  border-radius: 16px;
  padding: 1em;
  margin-bottom: 10px;
}

.file-preview .geco-icon svg {
  width: 25px;
  height: 25px;
}
