.geco-add-contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geco-add-contact-nav-bar {
  display: flex;
  align-self: flex-start;
  margin-left: 4vw;
  margin-top: 2vh;
  gap: 4px;

  a {
    display: contents;
  }
}

.geco-add-contact-nav-bar-logo img {
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 50%;
  width: 48px;
  height: 50px;
}

.geco-add-contact-nav-bar-section {
  margin-right: 1vw;
}
