.commentsPage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geco-comments-header-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: 4vw;
  margin-top: 2vh;
}

.geco-comments-header-nav-bar-logo img {
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 50%;
  margin-right: 1vw;
  width: 48px;
  height: 48px;
}

.commentsPage-head {
  align-items: center;
  max-width: 325px;
}
