.geco-contacts-list {
}

.geco-contacts-list-head {
  width: 100vw;
  display: flex;
}

.geco-contacts-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.geco-contacts-list-title {
  display: flex;
  align-items: center;
  width: 50%;
}

.geco-contacts-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geco-contacts-list-ul {
  width: 90%;
}

.geco-contacts-list-item {
}
