.geco-strategy-head-nav-bar {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 4vw;
  margin-top: 2vh;
}

.geco-strategy-head-nav-bar-logo img {
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 50%;
  margin-right: 1vw;
  width: 48px;
  height: 48px;
}

.geco-strategy-title {
  display: flex;
  align-items: center;
  width: 75%;
}

.geco-strategy-title h1 {
  margin: 0.5em 0 0.5em 0;
}

.geco-strategy-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.geco-strategy-options {
  max-width: 325px;
  min-width: 325px;
}

.geco-strategy {
  display: flex;
  flex-direction: column;
  border: none;
  height: 100vh;
  background-image: url('../assets/images/geco_animal_crop_green.svg');
  /*background-size: 80vh;*/
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #ffbd12;
}

.geco-create-ad-list-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.geco-create-ad-img {
  max-width: 49%;
  margin-top: 5px;
}

.geco-strategy-subtitle {
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #9fa4b4;
  text-align: start;
}

.geco-strategy-options-group {
  flex-direction: column;
  text-align: start;
  display: flex;
}

.geco-strategy-resume {
  border: 2px solid #18191f;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 16px;
  background: #00c6ae;
  max-width: 325px;
  min-width: 325px;
  width: 325px;
  padding: 20px;

  justify-content: center;
  display: flex;
  flex-direction: column;
}

.geco-strategy-resume-title {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  margin: 10px 0;
  align-self: center;
}

.geco-strategy-resume-item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 10px 0;
}

.geco-strategy-resume-item-list {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 5px;
}

.geco-strategy-resume-item-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 10px 0;
}
