.geco-text-action {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 1vh;
}

.geco-text-link {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 8px;
  color: #f95a2c;
}

.geco-text-label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin: 0;
}
